#records {
    max-height: 250px;
    overflow: scroll;
}
.Sketching
{
    color: lavenderblush;
    background-color: black;
}
.Singing
{
    color: White;
    background-color: darkslategray;
}
.Painting
{
    color:black;
    background-color: papayawhip;
}
